<div>
  <% @students.each do |student| %>
  <!-- this one doesn't work <div><%= link_to "#{student}", "/student/#{student.id}" %></div> -->
  <div><%= link_to("#{student}", student_path(student.id)) %></div>
    <!-- <div><%= link_to student, student_path(student) %></div> -->
  <% end %>
</div>
